<!-- Banner Section -->
<section class="banner-section d-flex align-items-center justify-content-around">
    <div class="hero-content">
        <div class="d-flex">
            <h2 class="fw-bold my-3">Elastic <span class="text-primary">Products</span></h2>
        </div>
        <p>10K+ to 60K+ Office Collection</p>
        <button class="btn btn-dark mt-3">Shop Now <i class="fa-solid fa-right-long"></i></button>
    </div>
    <div class="banner-image">
        <img src="assets/Images/home_banner.png" alt="Banner Image" class="img-fluid" />
    </div>
</section>